<div class = "container">
	<div class = "team_list">
		<div class = "team">
			<h1>Team 1</h1>
			<%= render @draft.teams.first %>
		</div>
		<div class = "team">
			<h1>Team 2</h1>
			<%= render @draft.teams.last %>
		</div>
	</div>
	
	<div class = "remaining_champions">
		<h1>Remaining Champions</h1>
		<% @draft.champions.each do |champ|%>
		<div class = "champion" >
			<%= render champ %>
			
			<%= button_to 'Pick', champion_selections_path, {params: {:draft_id => @draft.id, :team_id => @draft.picking_team, :champion_id => champ.id, :picked => true}, method: :post}%>
			<%= button_to 'Ban', champion_selections_path, {params: {:draft_id => @draft.id, :team_id => @draft.picking_team, :champion_id => champ.id, :picked => false}, method: :post}%></form>
		</div>
		<% end %>
	</div>
</div>


